<%- layout("./layouts/boilerplate") %> 
 
   <div class="container mt-4">
<h2 class="mb-3">Tech Blog Page</h2>
<div >
   <% for(blog of blogs){%>
    <div class="card mb-5">
        <div class="card-body">
        <div class="card-title"><b><%= blog.title%></b></div>
         <div class="card-text"><%=blog.author%></div>
        <p>Published on: <%= blog.createdAt.toDateString() %></p>

   <div>
    <div class="d-flex">
    <form method="get" action="/blogs/<%=blog._id%>">
        <button class="btn btn-sm me-3 btn-success ">Read more</button>
    </form>

    </div>
</div>
</div>
</div>
        <%}%>
   
</div>
</div>

   